*{
    padding: 0;
    margin: 0;
    color:white;
}
body{
    background-color: #A3CEF1;
}


form
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container
{
    
    border-radius: 2rem;
    font-size: 4vmax;
    width: 40vmax;
    height: 40vmax;
    background-color: #150578;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.content
{
    margin: 1vmax;
}

.in_content{
    font-size: 3vmax;
    width: 38vmax;
    border: none;
    border-radius:0.4rem;
    color: black;
}

.in_content:focus::placeholder
{
    color:white;
}
.in_content:focus{
    outline: none;
    border: none;
}

.btn{
    font-size: 3vmax;
    width: 20vmax;
    height:5vmax;
    border: none;
    border-radius:0.5rem;
    font-weight: 550;
    background-color: #449DD1;
}

.btn:hover{
    font-size: 4vmax;
    width: 23vmax;
    height:5.4vmax;
    font-weight: 700;
}